
*{
    /* To check Box Model Method
    outline: 1px solid black; */
}

ul#flex-container {
    list-style: none;
    margin: 0!important;Padding: 0!important;
    display: flex;
    flex-wrap: wrap;
}

html,body{
    
    background-color: rgb(246, 249, 250);
    /* background-image: url(/images/code-bg.jpg); */
    font-family: sans-serif, Times;
}

header{
    background-color: rgb(19, 19, 70);
}

#main-section {
    /* Section Layout Settings */
    padding-top: 45px;
}

#main-section img{
    /* Image Layout Settings */
    height: 280px;
    padding: 5px;
    margin: 0px 10px 0px 0px;
    
    /* Image Size Format */
    width:75%;
    height:auto;
    min-width: 250px;

    /* Helps with Resize Rendering */
    image-rendering: -webkit-optimize-contrast;
    
    /* Box Shadow */
    box-shadow: 0 1px 8px #ddd;
}

footer{
    
}

.hero{
    /* Sizeing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* text styles */
    text-align: left;
    color: white;

    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(/images/page1-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    /* Box Shadow */
    box-shadow: 0 1px 8px #ddd;
}

.hero h1{
    /* text styles */
    font-size: 5em;

    /* Margins */
    margin-top: .5em;
    margin-bottom: 0.5em;
}

.hero h2{
    font-size: 1.5em;
    position: absolute;
}

.hero-inner{
    margin-left: 16px;
}

nav{
    background-color:white;
    /* background-image: url(/images/test1.jpg); */
    background-position: top center;
    background-blend-mode: darken;
    /* NEEDS A DIFFERENT FONT               font-family: ; */
}

ul li{
    flex-grow: 1;
}
nav a{
    color: black;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
}

nav li{
    display: inline-block;
    text-align: justify;
}

nav li a{
    align-items: right;
}

nav ul li img{
    text-align: left;
}



.nav{
    align-items: center;
}
.nav-item{
    display: flex;
}
.nav-item:hover{
    color: rgb(107, 181, 206);
}
.nav-link {
    display: flex;
}

.main-nav{
    /* Flex Content */
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
    /* Margins n Padding */
    padding: 0px 10px;
    z-index: 3;
   

    /* Makes nav bar stick to top of screen when scrolled past */
    position: sticky;
    top: 0px;
    bottom: 0px;

    /* Seperates main, footer and navbar background */
    box-shadow: 0 1px 8px #ddd;
}

.main-nav img{
    width:9em;
    height:3.2em;
}
.main-nav a:hover{
    /* Turns text blue when hovered over */
    color: rgb(107, 181, 206)!important;
}
.foot-nav a:hover{
    /* Turns text blue when hovered over */
    color: rgb(107, 181, 206)!important;
}
.foot-nav{
    /* Flex Content */
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    text-align: center;

    /* Seperates Foot Navbar and main background */
    box-shadow: 0 1px 8px #ddd;
}

[type="checkbox"]
{
    vertical-align:middle;
}